@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-purple: #7512d2;
  --color-secondary-purple: #3c096c;
  --color-light-purple: #c588ff;
  --color-dark-purple: #11001c;
  --color-background: #e9e9e9;
  --color-word: #11001c;
  --color-highlight: linear-gradient(90deg, #3c096c 0%, #7512d2 100%);

  --font-poppins: "Poppins", sans-serif;
  --font-mont: "Montserrat", sans-serif;
  --font-bak: "Bakbak One", sans-serif;

  --animate-scroll: scroll 5s linear infinite;
  --animate-bounce: bounce 1.5s infinite;

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - 32px));
    }
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-10%);
    }
    50% {
      transform: translateY(0);
    }
  }
}

.dark {
  --color-background: var(--color-dark-purple);
  --color-highlight: var(--color-secondary-purple);
  --color-word: white;
}

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    background-color: var(--color-background);
    font-family: var(--font-poppins);
    overflow-x: hidden;
  }

  button {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px;
    font-family: var(--font-poppins);
  }

  li {
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 20px;
  }

  p {
    margin-bottom: 2rem;
  }

  h1 {
    @apply text-5xl md:text-7xl my-5;
    font-family: var(--font-bak);
  }

  h2 {
    @apply text-2xl md:text-4xl;
    font-weight: 500;
  }

  h3 {
    @apply text-secondary-purple dark:text-light-purple;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@layer components {
  .activeNavItem {
    background-color: var(--color-primary-purple);
    color: white;
  }

  .navbarMobile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    min-height: 100vh;
    @apply bg-light-purple text-secondary-purple dark:bg-secondary-purple dark:text-white;
    padding-top: 10rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transform: translateX(100%);
    transition: all 0.3s;
  }

  .activeMenu {
    transform: translateX(0%);
  }

  .highlightTitle {
    @apply text-3xl lg:text-5xl;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: var(--color-highlight);
    padding: 5px;
    letter-spacing: 2px;
    font-family: var(--font-bak);
    width: fit-content;
  }

  .iconsCircle {
    @apply border-2 rounded-full border-secondary-purple text-secondary-purple my-10 p-2 w-fit transition-all duration-350 dark:text-primary-purple lg:hover:bg-secondary-purple lg:hover:text-white lg:hover:translate-x-2 lg:hover:-translate-y-2 dark:hover:text-white;
  }

  .iconsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    user-select: none;
    flex-shrink: 0;
    animation: var(--animate-scroll);
  }

  .highlightText {
    @apply text-primary-purple dark:text-light-purple;
    font-weight: 600;
    font-style: italic;
  }

  .primaryButton {
    background-color: var(--color-primary-purple);
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 2px solid var(--color-primary-purple);
    transition: all 0.2s ease-out;
  }

  .primaryButton:hover {
    background-color: white;
    color: var(--color-primary-purple);
  }

  .secondaryButton {
    @apply bg-dark-purple dark:bg-secondary-purple;
    color: white;
    border-radius: 10px;
    font-weight: 500;
  }

  .techStacks {
    @apply text-primary-purple dark:text-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 20px;
    font-weight: 500;
  }

  .tertiaryButton {
    background-color: var(--color-light-purple);
    color: var(--color-secondary-purple);
    font-size: 1.3rem;
    border-radius: 5px;
    width: 20rem;
    border: 2px solid transparent;
    transition: all 0.2s ease;
  }

  .tertiaryButton:hover {
    border: 2px solid var(--color-secondary-purple);
  }

  .inputs {
    color: var(--color-dark-purple);
    border: 2px solid lightgray;
    outline: 0;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    letter-spacing: 2px;
  }

  .inputs:focus-within {
    border: 2px solid var(--color-secondary-purple);
  }
}
