@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-purple: #7512d2;
  --color-secondary-purple: #3c096c;
  --color-light-purple: #c588ff;
  --color-dark-purple: #11001C;
  --color-highlight: linear-gradient(90deg,#3C096C 0%, #7512D2 100%);

  --font-mont: "Montserrat", sans-serif;
  --font-bak: "Bakbak One", sans-serif;

  --animate-scroll: scroll 5s linear infinite;

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - 32px));
    }
  }
}

@layer base {
  body {
    background-color: #e5d8ec;
    font-family: var(--font-mont);
    overflow-x: hidden;
  }

  button {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px;
  }

  li {
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 20px;
  }

  p {
    margin-bottom: 2rem;
  }

  h3 {
    color: var(--color-secondary-purple);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@layer components {
  .activeNavItem {
    background-color: var(--color-primary-purple);
    color: white;
  }

  .navbarMobile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    min-height: 100vh;
    background-color: var(--color-light-purple);
    color: var(--color-secondary-purple);
    padding-top: 10rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transform: translateX(100%);
    transition: all .3s;
  }

  .activeMenu {
    transform: translateX(0%);
  }

  .highlightTitle {
    @apply text-3xl lg:text-5xl;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: var(--color-highlight);
    padding: 5px;
    letter-spacing: 2px;
    font-family: var(--font-bak);
    width: fit-content;
  }

  .iconsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    user-select: none;
    flex-shrink: 0;
    animation: var(--animate-scroll);
  }

  .highlightText {
    color: var(--color-primary-purple);
    font-weight: 600;
    font-style: italic;
  }

  .primaryButton {
    background-color: var(--color-primary-purple);
    color: white;
    font-weight: 500;
    border-radius: .5rem;
    border: 2px solid var(--color-primary-purple);
    transition: all .2s ease-out;
  }

  .primaryButton:hover {
    background-color: white;
    color: var(--color-primary-purple);
  }

  .secondaryButton {
    background-color: var(--color-dark-purple);
    color: white;
    border-radius: 10px;
    font-weight: 500;
  }

  .techStacks {
    color: var(--color-primary-purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 20px;
    font-weight: 500;
  }

  .tertiaryButton {
    background-color: var(--color-light-purple);
    color: var(--color-secondary-purple);
    font-size: 1.3rem;
    border-radius: 5px;
    width: 20rem;
    border: 2px solid transparent;
    transition: all .2s ease;
  }

  .tertiaryButton:hover {
    border: 2px solid var(--color-secondary-purple);
  }

  .inputs {
    border: 2px solid lightgray;
    outline: 0;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    letter-spacing: 2px;
  }

  .inputs:focus-within {
    border: 2px solid var(--color-secondary-purple);
  }
}
