@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-purple: #7512d2;
  --color-secondary-purple: #3c096c;
  /* TODO -> REPLACE THE LIGHT PURPLE */
  /* --color-light-purple: #c588ff; */
  --color-light-purple: #9747ff;
  --color-lilac: #c191ff;
  --color-dark-purple: #11001c;
  --color-background: #e9e9e9;
  --color-word: #11001c;
  --color-highlight: linear-gradient(90deg, #3c096c 0%, #7512d2 100%);

  --font-poppins: "Poppins", sans-serif;
  --font-mont: "Montserrat", sans-serif;
  --font-bak: "Bakbak One", sans-serif;

  --animate-scroll: scroll 5s linear infinite;

  --shadow-lg:
    0 3px 13px 3px rgb(0 0 0 / 0.1), 0px 4px 6px -4px rgb(0 0 0 / 0.1);

  @keyframes scroll {
    to {
      transform: translateX(calc(-100% - 32px));
    }
  }
}

/* DARK MODE VARIANTS */

.dark {
  --color-background: var(--color-dark-purple);
  --color-highlight: var(--color-secondary-purple);
  --color-word: white;
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-4;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-purple;
  }

  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    background-color: var(--color-background);
    font-family: var(--font-poppins);
    overflow-x: hidden;
  }

  button {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px;
    font-family: var(--font-poppins);
  }

  li {
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 500;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 20px;
  }

  p {
    margin-bottom: 2rem;
  }

  h1 {
    @apply text-5xl md:text-7xl my-5;
    font-family: var(--font-bak);
  }

  h2 {
    @apply text-2xl md:text-4xl;
    font-weight: 500;
  }

  h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 500;
    @apply text-dark-purple dark:text-light-purple text-4xl;
  }

  h4 {
    @apply text-xl md:text-lg mt-10 text-left text-light-purple font-bold;
  }
}

@layer components {
  .activeNavItem {
    background-color: var(--color-primary-purple);
    color: white;
  }

  .navbarMobile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    min-height: 100vh;
    @apply bg-light-purple text-white dark:bg-gradient-to-r from-[#3c096c] to-[#7512d2];
    padding-top: 10rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transform: translateX(100%);
    transition: all 0.3s;
  }

  .activeMenu {
    transform: translateX(0%);
  }

  .highlightTitle {
    @apply text-3xl lg:text-5xl;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: var(--color-highlight);
    padding: 5px;
    letter-spacing: 2px;
    font-family: var(--font-bak);
    width: fit-content;
  }

  .subtitle {
    font-family: var(--font-bak);
    letter-spacing: 2px;
    margin-bottom: 10px;
    @apply text-3xl md:text-5xl;
  }

  .iconsCircle {
    @apply border-2 rounded-full border-secondary-purple text-secondary-purple my-10 p-2 w-fit transition-all duration-350 dark:text-primary-purple lg:hover:bg-secondary-purple lg:hover:text-white lg:hover:translate-x-2 lg:hover:-translate-y-2 dark:hover:text-white;
  }

  .iconsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    user-select: none;
    flex-shrink: 0;
    animation: var(--animate-scroll);
  }

  .highlightText {
    @apply text-primary-purple dark:text-light-purple;
    font-weight: 600;
    font-style: italic;
  }

  .primaryButton {
    background-color: var(--color-primary-purple);
    color: white;
    font-weight: 500;
    border-radius: 0.5rem;
    border: 2px solid var(--color-primary-purple);
    transition: all 0.2s ease-out;
  }

  .primaryButton:hover {
    background-color: white;
    color: var(--color-primary-purple);
  }

  .secondaryButton {
    @apply bg-dark-purple dark:bg-secondary-purple;
    color: white;
    border-radius: 10px;
    font-weight: 500;
  }

  .gradientButton {
    background: linear-gradient(90deg, #3c096c, #7512d2, #3c096c);
    background-size: 200% 100%;
    background-position: left;

    color: white;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 0.5rem;
    padding: 10px;

    transition: background-position 0.5s ease;
  }

  .gradientButton:hover {
    background-position: right;
  }

  .smallCard {
    @apply flex flex-col h-18 w-20 items-center justify-center bg-primary-purple dark:bg-lilac p-4 px-6 text-white rounded-xl text-xs my-4 gap-1;
  }

  .projectTechs {
    @apply font-medium text-primary-purple dark:text-lilac;
  }

  .projectTechs:not(:last-child)::after {
    content: "\2022";
    padding: 0 10px;
  }

  .mobileProjectCard {
    @apply w-full md:w-[400px] h-[200px] bg-lilac rounded-xl shadow-2xl shadow-dark-purple dark:shadow-primary-purple border-2 -mt-20 z-10 cursor-pointer hover:-translate-y-4 duration-150;
  }

  .mobileProjectCard:first-child {
    margin-top: 0;
  }

  .desktopProjectCard {
    @apply hidden lg:flex w-full max-w-[1700px] h-100 border-7 border-secondary-purple border-dashed rounded-2xl p-5 gap-10 items-center bg-background dark:border-primary-purple;
  }

  .desktopProjectCard:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .activeStackCategory {
    @apply relative hover:text-secondary-purple dark:hover:text-lilac after:content-[''] after:absolute after:left-0 after:bottom-0 after:h-[2px] after:w-0 after:bg-secondary-purple after:transition-all after:duration-300 hover:after:w-full;
  }

  .inputs {
    color: var(--color-dark-purple);
    border: 2px solid lightgray;
    outline: 0;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    letter-spacing: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.651);
  }

  .inputs:focus-within {
    border: 2px solid var(--color-secondary-purple);
  }
}
